*{
    margin: 0;
    padding: 0;
}


.error404{
    background-image: url('img/bg404.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    padding: 140px 0;
    text-align: center;
    max-width: 1100px;
    margin: auto;
}


.error404-item1{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 40%;
    text-align: center;
    margin-bottom: 80px;

}


@keyframes floating{
    0%{transform: translate(0, 0px);}
    50%{transform: translate(0, 15px);}
    100%{transform: translate(0, -0px);}
}


.error404-btn {
text-align: center;
margin-top: 30px;
}


.error404-btn i{
    padding: 0 5px 0 0;
    margin: 0;
}


.error404-btn a{
    font-size: 20px;
    padding: 10px 30px;
    background: #6C63FF ;
    border-radius: 6px;
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 700px){
    .error404-btn{
        margin: auto;
    }
}