:root{
    --gb-body: #ffffff;
    --bg-section: #f2f2f2;
    --bg-card-section: #ffffff;
    --bg-card: #f2f2f2f2;
    --color-word: #000000;
    --color-word-btn: #ffffff;
    --color-itens: #6C63FF;
    --bg-footer: #6C63FF;
}

.dark-mode:root{
    --gb-body: #222222;
    --bg-section: #141414;
    --bg-card-section: #222222;
    --bg-card: #131212f2;
    --color-word: #ffffff;
    --color-word-btn: #ffffff;
    --color-itens: #6C63FF;
    --bg-footer: #222222;
}
/*FORMATAÇÃO DO HTML*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background: var(--gb-body);
    font-family: 'Roboto', sans-serif;
}


/*LOGO*/

.logo img{
    display: block;
    max-width: 30px;
    padding: 10px 20px;
    float: left;  
}

@media (max-width: 764px){
    .logo img{
        max-width: 30px;
        padding: 10px 20px;
    }
}

@media (max-width: 600px){
    .logo img{
        max-width: 20px;
        margin-top: 7px;
        margin-left: 20px;
    }
}


/*HEADER*/

.menu{
    position: fixed;
    background: var(--gb-body);
    width: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    z-index: 1;
    
}   
.menu-container{
    max-width: 1100px;
    margin: auto;
}

.menu-nav{
    display: block;
    float: right;
    padding: 0 20px;
}
.menu-nav li{
    display: inline-block; 
    padding: 10px 0;
}
.menu-nav a{
    display: block;
    padding: 10px 11px;
    color: var(--color-word);
    font-size: 16px;
}

#switch{
    display: none;
}

.btn-dark::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z' fill='rgba(0,0,0,1)'/%3E%3C/svg%3E");
    content: "";
    height: 26px;
    transition: .4s;
    width: 26px;
    float: right;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px; 
      
}

input:checked + .btn-dark::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z' fill='rgba(108,99,255,1)'/%3E%3C/svg%3E");
  }


  
  .menu-nav .closebtn, .menu-open{
      display: none;
  }

@media (max-width: 764px){
    .menu-container{
        max-width: 763px;
    }

    .menu-nav .closebtn, .menu-open{
        display: none;
    }
}

@media (max-width: 600px){
    .menu-nav .closebtn, .menu-open{
        display: block;
    }

    .menu-nav{
        height: 0;
        width: auto;
        position: fixed;
        z-index: 1;
        background: var(--gb-body);
        top: 0;
        left: 0;
        overflow-y: hidden;
        transition: 0.5s;
        text-align: center;
    }

    .menu-nav ul{
        position: relative;
        display: block;
        text-align: center;
        width: 100%;  
        height: 490px;
    }

    .menu-nav a{
        text-align: center;
        padding: 10px 60px;
        font-size: 28px;
        
    }

    .menu-nav .closebtn{
        float: right;
        padding: 10px 0 0 80px ;
        margin-right: 30px;
    }

    .menu-open{
        padding: 10px 0;
        margin-right: 50px;
        float: right;
        color: var(--color-word);
    }

    .btn-dark{
    }
    .btn-dark::before{
       left: 46%;
    }
}


/*INTRO*/


.intro{
    background: var(--gb-body);
}

.intro-container{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-descricao{
    min-width: 450px;
    margin: auto 30px;
    color: var(--color-word);
}
.intro-descricao p{
    padding: 5px 0;
    font-size: 20px;
}
.intro-p{
    margin-bottom: 40px;
}

.intro-descricao h1{
    font-size: 38px;
}
.intro-descricao a{
    text-align: center;
    font-size: 20px;
    padding: 10px 40px;
    background: var(--color-itens) ;
    border-radius: 6px;
    color: var(--color-word-btn);
}
.intro-img img{
    max-width: 550px;
    padding: 110px 0;
}

@media (max-width: 764px){
    .intro-container{
        max-width: 764px;
        margin: auto;
    }
    .intro-descricao{
        padding: 0 0 0 130px;
        min-width: 300px;
    }
    .intro-descricao p{
        padding: 5px 0;
        font-size: 20px;
    }
    .intro-p{
        margin-bottom: 35px;
    }

    .intro-descricao a{
        text-align: center;
        font-size: 20px;
        padding: 10px 30px;
        background: var(--color-itens) ;
        border-radius: 6px;
        color: var(--color-word-btn);
    }
    .intro-img img{
        max-width: 450px;
        padding: 110px 0;
    }
}


@media (max-width: 600px){
    .intro{
        min-width: auto;
    }
    .intro-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .intro-descricao{
        text-align: center;
        padding: 210px 0;
        max-width: 300px;
        min-width: 240;
        margin: auto;
    }
    .intro-img img{
        display: none;
    }
}


/*SOBRE MIM*/

.sobre{
    min-width: 1100px;
    margin: auto;
    background: var(--bg-section);
}

.sobre-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    margin: auto;
}

.sobre-img img{
    max-width: 500px;
}

.sobre-cont{
    max-width: 510px;
    min-width: 500px;
    padding: 50px 0;
    color: var(--color-word);
}

.sobre-cont h1{
    font-size: 28px;
    padding: 20px 0;
}
.sobre-cont p{
    font-size: 16px;
}

.sobre-cont a{
    color: var(--color-itens);
}



@media (max-width: 764px){
    .sobre-container{
        max-width: 764px;
        margin: auto;
    }
    
    .sobre-img img{
        max-width: 400px;
    }
    
    .sobre-cont{
        max-width: 310px;
        min-width: 400px;
        padding: 0px 0;
    }
    
    .sobre-cont h1{
        padding: 20px 0;
    }
}




@media (max-width: 600px){
    .sobre{
        min-width: auto;
    }
    .sobre-container{
        display: grid;
        grid-template-columns: auto;
        margin: auto;
    }
    .sobre-cont{
        margin: auto;
        text-align: center;
        min-width: 240px;
    }
    .sobre-img img{
        display: none;
    }
}

/*PROJETO*/

.projeto{
    min-width: 1100px;
    margin: auto;
    background: var(--gb-body);
}

.projeto-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 100px 0;
}

.projeto-titulo{
    grid-column: 1 / -1;
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 28px;
    color: var(--color-word);
}

.projeto-card{
    max-width: 300px;
    background:var(--bg-card);
    margin:10px auto;
    padding: 30px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.projeto-cont-card{
    padding: 20px;
    max-width: 266px;
}

.projeto-card h1{
    width: 100%;
    font-size: 20px;
    color: var(--color-word);
    padding: 0 0 10px 0;
    text-align: left;
}

.projeto-card p{
    font-size: 16px;
    color: var(--color-word);
    padding: 0 0 35px 0;
    text-align: left;
}

.projeto-card a{
    background: var(--color-itens);
    font-size: 15px;
    color: var(--color-word-btn);
    padding: 10px 29px;
    border-radius: 6px;
}
.projeto-card a + a{
    margin: 10px;
}
.projeto-card i{
    margin: 5px;
}


@media (max-width: 764px){
    .projeto-container{
        max-width: 800px;
    }

    .projeto-titulo{
        font-size: 28px;
    }
    
    .projeto-card{
        max-width: 350px;
        margin: 20px 10px;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.25);
    }
    
    .projeto-card p{
        font-size: 15px;
    }
    
    .projeto-card a{
        font-size: 15px;
        padding: 10px 8px;
        margin: 0;
    }
    .projeto-card i{
        margin: 5px;
    }
}

@media (max-width: 600px){

    .projeto{
        min-width: auto;
        margin: auto;
        background: var(--gb-body);
    }
    .projeto-container{
        display: grid;
        grid-template-columns: 1fr;
    }
        
    .projeto-titulo{
        text-align: center;
        padding: 0 0 40px 0;
        font-size: 28px;
    }

    .projeto-card{
        padding: 40px 5px;
        margin:10px auto;
    }

    .projeto-card h1{
        font-size: 20px;
    }

    .projeto-card p{
        padding: 0 0 35px 0;
        max-width: 300px;
    }
    .projeto-card a + a{
        margin: 5px;
    }
    .projeto-card a{
        padding: 15px 33px;
    }
}


/*SERVIÇO*/

.servico{
    min-width: 1100px;
    margin: auto;
    background: var(--bg-section);
}

.servico-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 100px 0;
}

.servico-container h1{
    grid-column: 1 /-1;
    text-align: center;
    font-size: 38px;
    padding: 0 0 50px 0;
    color: var(--color-word);
}

.servico-card{
    max-width: 200px;
    background:var(--bg-card-section);
    margin:20px auto;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.servico-card i{
    font-size: 100px;
    color: var(--color-itens);
}
.servico-card h1{
    font-size: 20px;
    padding: 40px 0 15px 0;
}

.servico-card p{
    font-size: 15px;
    color: var(--color-word);
}


@media (max-width: 764px){
    .servico-container{
        max-width: 800px;
    }

    .servico-container h1{
        font-size: 38px;
    }
    
    .servico-card{
        max-width: 300px;
        margin:20px 10px;
    }
    .servico-card i{
        font-size: 80px;
        color: var(--color-itens);
    }
    .servico-card h1{
        font-size: 20px;
    }
}


@media (max-width: 600px){

    .servico{
        min-width: auto;
    }

    .servico-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .servico-container h1{
        font-size: 38px;
    }
    .servico-card{
        margin:20px auto;
        padding: 10px 30px;
    }

    .servico-card i{
        font-size: 100px;
    }

    .servico-card h1{
        font-size: 20px;
    }

    .servico-card p{
        max-width: 200px;
    }
    
}

/*CONHECIMENTOS*/

.conhecimento{
    min-width: 1100px;
    margin: auto;
    background: var(--gb-body);
}

.conhecimento-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 100px 0;
}

.conhecimento-container h1{
    grid-column: 1 / -1;
    font-size: 38px;
    text-align: center;
    padding: 0 0 50px 0;
    color: var(--color-word);
}

.conhecimento-card{
    max-width: 200px;
    background:var(--bg-card);
    margin: 25px auto;
    padding: 40px 35px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.conhecimento-card i{
    font-size: 100px;
    color: var(--color-itens);
    padding: 0 0 30px 0;
}

.conhecimento-card h1{
    font-size: 20px;
    padding: 0 0 15px 0;
}

.conhecimento-card p{
    font-size: 20px;
    color: var(--color-word);
    padding: 0 0 15px 0;
}

.barra-progresso-html{
    width: 70%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}

.barra-progresso-css{
    width: 60%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}

.barra-progresso-javascript{
    width: 20%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}

.barra-progresso-wordpress{
    width: 40%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}

.barra-progresso-uxui{
    width: 60%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}

.barra-progresso-bootstrap{
    width: 30%;
    height: 9px;
    background: var(--color-itens);
    border-radius: 20px;
    margin-bottom: 10px;
}


@media (max-width: 764px){
    .conhecimento-container{
        max-width: 764px;
    }
    
    .conhecimento-card{
        max-width: 200px;
        margin: 25px 15px;
        box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.25);
    }
    
    .conhecimento-card i{
        font-size: 80px;
    }
    
    .conhecimento-card h1{
        font-size: 20px;
    }
    
    .conhecimento-card p{
        font-size: 15px;
    }
    
}

@media (max-width: 600px){
    
    .conhecimento{
        min-width: auto;
    }
    .conhecimento-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .conhecimento-container h1{
        font-size: 38px;
    }
    
    .conhecimento-card {
        max-width: 300px;
        margin: 20px auto;
    }

    .conhecimento-card h1{
        font-size: 28px;
    }
    .conhecimento-card p{
        font-size: 20px;
    }
    .conhecimento-card i{
        font-size: 100px;
    }
}


/*CONTATO*/

.contato{
    min-width: 1100px;
    margin: auto;
    background: var(--bg-section);
    
}

.contato-container{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

.contato-titulo{
    text-align: center;
}

.contato-titulo h1{
    font-size: 38px;
    padding: 5px 0;
    color: var(--color-word);
}
.contato-titulo p{
    font-size: 20px;
    color: var(--color-word);
    padding: 0 0 40px 0;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    max-width: 900px;
    background: var(--bg-card-section);
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.20);
    color: var(--color-word);
}
.contato-titulo p{
    color: var(--color-itens);
}

.form-inform{
    margin: auto;
    padding: 40px 0 30px 0;
    font-size: 16px;
}
.form-inform input{
    width: 300px;
    height: 40px;
    background: var(--bg-section);
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
}
.form-inform input:focus{
    border: 1px solid var(--color-itens);
}

.form-tex{
    grid-column: 1 / -1;
    margin: auto;
    font-size: 16px;
}
.form-tex textarea{
    width: 750px;
    height: 270px;
    background: var(--bg-section);
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 15px;
    max-width: 750px;
    min-height: 150px;
}
.form-tex textarea:focus{
    border: 1px solid var(--color-itens);
}
.form-btn{
    padding: 0 0 30px 0;
}
.form-btn button{
    padding: 15px 50px;
    background-color: var(--color-itens);
    border: none;
    margin: 10px 75px;
    border-radius: 6px;
    color: var(--color-word-btn);
    cursor: pointer;
    font-size: 15px;
    
}


@media (max-width: 764px){
    .contato-titulo h1{
        font-size: 38px;
    }
    .contato-titulo p{
        font-size: 15px;
    }
    
    .form{
        max-width: 764px;
    }

    .form-inform{
        font-size: 16px;
    }
    .form-inform input{
        width: 290px;
    }
    
    .form-tex textarea{
        width: 680px;
    }
    .form-btn button{
        margin: 10px 45px; 
    }
    
}


@media (max-width: 600px){
    
    .contato{
        min-width: auto;
        
    }

    .form{
        width: 300px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px 0 0 0;
    }
    .form-inform{
        padding: 5px 0;
    }
   
    .form-inform input{
        width: 250px;
        padding: 0;
    }
    .form-tex{
        padding: 20px 0 0 0;
    }
    
    .form-tex textarea{
        width: 250px;
        height: 100px;
    }
    .form-btn button{
        margin: 10px 27px; 
        text-align: center;
        padding: 10px 20px;
    }
    
}
/*FOOTER*/

.footer{
    margin: auto;
    min-width: 1100px;
    background: var(--bg-footer);
    padding: 80px 0;
    text-align: center;
}
.footer h1{
    font-size: 24px;
    color: var(--color-word-btn);
}

@media (max-width: 600px){
    
    .footer{
        margin: auto;
        min-width: auto;
    }

    .footer h1{
        text-align: center;
        font-size: 16px;
        ;
    }
}