:root{
    --gb-body: #ffffff;
    --bg-section: #f2f2f2;
    --bg-card-section: #ffffff;
    --bg-card: #f2f2f2f2;
    --color-word: #000000;
    --color-word-btn: #ffffff;
    --color-itens: #6C63FF;
}

.dark-mode:root{
    --gb-body: #222222;
    --bg-section: #141414;
    --bg-card-section: #222222;
    --bg-card: #131212f2;
    --color-word: #ffffff;
    --color-word-btn: #ffffff;
    --color-itens: #6C63FF;
}
/*FORMATAÇÃO DO HTML*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background: var(--gb-body);
    font-family: 'Roboto', sans-serif;
}


/*LOGO*/

.logo img{
    display: block;
    max-width: 40px;
    padding: 10px 20px;
    float: left;  
}


/*HEADER*/

.menu{
    position: fixed;
    background: var(--gb-body);
    width: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    
}   
.menu-container{
    max-width: 1100px;
    margin: auto;
}

.menu-nav{
    display: block;
    float: right;
    padding: 0 20px;
}
.menu-nav li{
    display: inline-block; 
    padding: 10px 0;
}
.menu-nav a{
    display: block;
    padding: 10px 11px;
    color: var(--color-word);
    font-size: 24px;
}


/*INTRO*/


.intro{
    background: var(--gb-body);
}

.intro-container{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-descricao{
    min-width: 450px;
    margin: auto 30px;
}
.intro-descricao p{
    padding: 5px 0;
    font-size: 24px;
}
.intro-p{
    margin-bottom: 40px;
}

.intro-descricao h1{
    font-size: 48px;
}
.intro-descricao a{
    text-align: center;
    font-size: 24px;
    padding: 10px 30px;
    background: var(--color-itens) ;
    border-radius: 6px;
    color: var(--color-word-btn);
}
.intro-img img{
    max-width: 600px;
    padding: 110px 0;
}


/*SOBRE MIM*/

.sobre{
    min-width: 1100px;
    margin: auto;
    background: var(--bg-section);
}

.sobre-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
    margin: auto;
}

.sobre-img img{
    max-width: 500px;
}

.sobre-cont{
    max-width: 510px;
    min-width: 500px;
    padding: 40px 0;
}

.sobre-cont h1{
    font-size: 48px;
    padding: 20px 0;
}
.sobre-cont p{
    font-size: 24px;
}


/*PROJETO*/

.projeto{
    min-width: 1100px;
    margin: auto;
    background: var(--gb-body);
}

.projeto-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 100px 0;
}

.projeto-titulo{
    grid-column: 1 / -1;
    text-align: center;
    padding: 0 0 30px 0;
    font-size: 38px;
}

.projeto-card{
    max-width: 300px;
    background:var(--bg-card);
    margin:10px auto;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.projeto-card h1{
    font-size: 20px;
    color: var(--color-word);
    padding: 0 0 10px 0;
    float: left;
}

.projeto-card p{
    font-size: 20px;
    color: var(--color-word);
    padding: 0 0 25px 0;
    text-align: left;
}

.projeto-card a{
    background: var(--color-itens);
    font-size: 15px;
    color: var(--color-word-btn);
    padding: 10px 35px;
    border-radius: 6px;
}
.projeto-card a + a{
    margin: 10px;
}
.projeto-card i{
    margin: 5px;
}


/*SERVIÇO*/

.servico{
    min-width: 1100px;
    margin: auto;
    background: var(--bg-section);
}

.servico-container{
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 100px 0;
}

.servico-container h1{
    grid-column: 1 /-1;
    text-align: center;
    font-size: 48px;
    padding: 0 0 50px 0;
}

.servico-card{
    max-width: 200px;
    background:var(--bg-card-section);
    margin:20px auto;
    padding: 20px 15px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.servico-card i{
    font-size: 100px;
    color: var(--color-itens);
}
.servico-card h1{
    font-size: 20px;
    padding: 0 0 15px 0;
}
